
/* ############# END CONTENT - Q CUSTOM STYLES ###########################*/

.vt_component_inside h1 {  
  text-decoration: underline;
  margin-bottom: 20px;
  color: #07A0AD
}

.vt_component_inside span.red {  
  color: red;
}

.vt_component_inside fieldset{
  padding: 0px 5px 0px 5px;
  border: 1px solid #07A0AD;
}

.vt_component_inside table{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  width: 99%;
  border-collapse: collapse;
}

.vt_component_inside table caption, .adminDiv .dev_header {
  text-align: left;
  font-size: 160%;
  font-weight: bold;
  color: #07A0AD;
}

.vt_component_inside table th {
  text-align: left;
  padding: 5px;
  background: #07A0AD;
  color: #ffffff;
}

.vt_component_inside table td {
  padding: 5px;
}
.vt_component_inside p {  
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
}

.vt_component_inside lu {  
  margin: 0;
}

.vt_component_inside li { 
    display: inline;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vt_component_inside li.print {  
    background-image: url("http://www.scottwebdesigns.co.za/hp/components/com_devotions/files/print.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 40px;
}


.vt_component_inside li.download {  
    background-image: url("http://www.scottwebdesigns.co.za/hp/components/com_devotions/files/download.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 40px;
}

.vt_component_inside li.email {  
    background-image: url("http://www.scottwebdesigns.co.za/hp/components/com_devotions/files/email.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 40px;
}


.vt_component_inside li.prayer {  
    background-image: url("http://www.scottwebdesigns.co.za/hp/components/com_devotions/files/prayer.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 40px;
}

.vt_component_inside li.edit {  
    background-image: url("http://www.scottwebdesigns.co.za/hp/components/com_devotions/files/edit.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 40px;
}


.vt_component_inside li.save {  
    background-image: url("http://www.scottwebdesigns.co.za/hp/components/com_devotions/files/save.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 40px;
}


.vt_component_inside li.cancel {  
    background-image: url("http://www.scottwebdesigns.co.za/hp/components/com_devotions/files/cancel.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 40px;
}

.vt_component_inside p label {  
  width: 250px;
  float: left;
  text-align: left;
  font-weight: bold;
  margin-right: 10px;
  margin-leftt: 5px;
  color: #07A0AD;
}

.vt_component_inside p strong {  
  color: #07A0AD;
}

.vt_component_inside .devotion {
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 0px 0px;
  border-bottom: 5px solid #07A0AD; 
  height: 75px;
  overflow: hidden;
  display: block;   
}

.vt_component_inside .devotion a {
  display: block;  
  text-decoration: none; 
  color: #444444; 
}

.vt_component_inside .devotion h3 {
  line-height: 150%;
}

.vt_component_inside .devotion a:hover {
  color: #07A0AD;  
}

.vt_component_inside .devotion img {
  width: 64px;
  float: left;
  border: 1px solid #DDDDDD;    
}

.vt_component_inside .photo {
  padding: 0px;  
  margin-left: 5px;
}

.vt_component_inside .photo img {
  border: 1px solid #DDDDDD;
  height: 150px;
  width: 150px;
}

.vt_component_inside .adminDiv {
  padding: 20px 0px 20px 0px; 
  border: 1px solid #07A0AD; 
  -moz-border-radius: 4px 4px 4px 4px;
  margin-bottom: 10px;
}

#myform input[type=text] {
  width: 300px;
}

